<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="author" content="{{author}}">
  <meta name="description" content="{{description}}">
  <link rel="preload" href="/assets/fonts/NotoSans-Regular.woff2" as="font" type="font/woff2">
  <link rel="preload" href="/assets/images/profile.png" as="image">
  <link rel="preload" href="/assets/global.css" as="style">
  {{~#block "header"}}{{/block}}
  <title>{{title}}{{#if title}} — {{/if}}{{name}}</title>
</head>
<body>
  <nav role="navigation">
    <a class="name" href="/">
      <img src="/assets/images/profile.png" alt="Jason's Profile Image" />
      <h1>jason wilson</h1>
    </a>
    <div class="social">
      <a class="twitter" href="https://twitter.com/scurker">twitter</a>
      <a class="flickr" href="https://flickr.com/scurker">flickr</a>
      <a class="github" href="https://github.com/scurker">github</a>
      <a class="rss" href="/feed">rss</a>
    </div>
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
        <ul>
          <li><a href="https://github.com/scurker/currency.js">currency.js</a></li>
          <li><a href="https://tivtrackr.com">tivtrackr</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="content" role="main">
    {{{contents}}}
    <footer>
      Built with ♥ by Jason Wilson. Everything you see is available on <a href="https://github.com/scurker/scurker.com">Github</a> under the <a href="https://github.com/scurker/scurker.com/blob/master/license">MIT license</a>.
    </footer>
  </div>
  <link rel="stylesheet" href="/assets/global.css">
  {{! Only use analytics when we're live }}
  {{~#is env "production"}}
    {{> analytics }}
  {{~/is}}
  {{~#block "footer"}}{{/block}}
</body>
</html>
